<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Personel Yönetim</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/Departman">Departmanlar</a></li>
            <li class="active"><a href="/Personel">Personeller</a></li>
            <li><a href="#">Giriş Yap</a></li>
            <li><a href="#">Uye ol</a></li>
        </ul>
    </div>
</nav>
